@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/*--custom css--*/
* {
	box-sizing: border-box;
}

.themeColor,
.themeColor:hover {
	color: #f16b64;
	cursor: pointer;
	text-decoration: none;
}

.leftLoginImage {
	background-color: #181C32;
	height: 100vh;
}

.w-45 {
	width: 45%;
}

.w-75 {
	width: 75%;
}

.rightFormPage {
	height: 100vh;
}

.rightCont {
	max-width: 450px;
	margin: 0 auto;
	height: 100vh;
}

.rightCont form {
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
}

.loginForm h3 {
	font-size: 2.5rem;
	font-weight: 700;
	color: #181c32;
}

.loginForm .form-control {
	background-color: #f5f8fa !important;
	border-color: #f5f8fa !important;
	color: #5e6278 !important;
	transition: color .2s ease;
	height: 48px;
}

.loginForm .form-control:focus {
	box-shadow: none;
	outline: none;
}

.loginForm label {
	color: #181c32;
	font-weight: 500;
	font-size: 16px;
}

.forgotPass {
	margin-bottom: 0.5rem;
	margin-left: auto;
	font-weight: 600;
}

.usaBtn {
	background-color: #f16b64;
	padding: 10px 25px;
	border: none;
	color: #fff;
	border-radius: 8px;
	font-weight: 600;
	border: 1px solid #f16b64;
	display: inline-block;
}

.usaBtn:hover {
	background-color: #fff;
	color: #f16b64;
}

.leftLoginImage img {
	max-width: 350px;
}

.leftContent {
	max-width: 450px;
	margin: 0 auto;
	height: 100vh;
	display: flex;
}

.contentPositn {
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

.fontSize14 {
	font-size: 14px;
}

/*--data page--*/
.dataPage {
	background-color: #f4f4f4;
	/* height: 100vh; */
}

.header,
.headerTop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background: #ffffff;
	border-bottom: 1px solid #f0f0f0;
	z-index: 10;
}

.dataListBox {
	background-color: #fff;
	border-radius: 10px;
	/* box-shadow: 0 0 20px 0 rgba(76, 87, 125, .02); */
	padding: 0 16px;
	/* max-height: calc(100vh - 40%) !important; */
	height: 450px;
	overflow: auto;
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
	margin-bottom: 16px;
}

.dataHeading {
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 16px;
	font-family: 'Lato', sans-serif;
}

.listItem {
	width: 100%;
	padding: 16px 0;
}

.listItem h3 {
	font-size: 14px;
	font-weight: 600;
}

.listItem p {
	color: #a1a5b7;
	font-size: 14px;
}

.actionItem {
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 4px;
	text-align: center;
	line-height: 32px;
	margin-left: 16px;
}

.actionItem.editIcon {
	background-color: #badbcc;
}

.actionItem.deleteIcon {
	background-color: #f5c2c7;
}

.actionItem img {
	max-width: 18px;
}

.dataListBoxItem {
	border-bottom: 1px solid #ddd;
}

.dataListBoxItem:last-child {
	border-bottom: none;
}

.dataPage {
	position: relative;
}

.footerBottom {
	position: fixed;
	bottom: 0px;
	left: 0;
	/* transform: translateX(-50%); */
	/* background-color: #fff; */
	width: 100%;
	padding: 8px 0;
	font-weight: 600;
}

.footerText p {
	font-size: 12px;
	color: #828282;
}

.searchBox {
	position: relative;
	/* width: 75%; */
	/* padding-left: 30px; */
}

.searchBox img {
	position: absolute;
	max-width: 15px;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.searchBox input:focus {
	box-shadow: none;
}

.searchBox input {
	background-color: #fff;
	border: 1px solid #ddd;
	padding-right: 2.5rem;
	min-width: 280px;
}

.pagination ul {
	margin: 0;
	padding: 0;
}

.pagination ul li {
	list-style-type: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #E5DCDC;
	/* opacity: 0.5; */
	margin: 0 10px 0 0;
	color: #000;
	border-radius: 8px;
	font-weight: 400;
	cursor: pointer;
}

.pagination ul {
	display: inline-block;
	margin: 0 auto;
}

.pagination li img {
	max-width: 15px;
}

.dataPage {
	position: relative;
	height: 100vh;
}

.pagination ul li:hover {
	background-color: #F16B64;
	color: #fff;
}

.dropdown button,
.dropdown button:hover,
.dropdown button:focus {
	padding: 0;
	background-color: transparent;
	border: none;
}

.logoutIcon img {
	width: 22px;
	height: 100%;
}

.user-box {
	display: flex;
	align-items: center;
	height: 60px;
	border-left: 1px solid #f0f0f0;
	margin-left: 1rem;
	padding: 0 0 0 1rem;
}

.user-box img {
	height: 35px;
	margin-right: 0.8rem;
}

.user-box h4 {
	font-size: 16px;
	font-weight: 700;
}

.user-box p {
	font-size: 12px;
	color: #828282;
}




.w-24-h-24 {
	max-width: 24px;
	max-height: 24px;
}

.activePagination {
	background-color: #1A1846 !important;
	color: #fff !important;
}



.loaderDiv {
	width: 100%;
	height: 100%;
	margin: 0 auto !important;
	padding: 0 !important;
	display: flex;
	object-fit: contain;
	background: #f1f2f3;
	justify-content: center;
}

.loaderDiv img {
	object-fit: none;
	max-width: 100%;
	height: auto;
}

.topbar-logo-header {
	width: auto;
	display: flex;
	align-items: center;
	padding: 0 30px 0 0;
	/* height: -40px; */
	/* border-right: 1px solid #f0f0f0; */
}

.topbar-logo-header img {
	max-height: 45px;
	width: 100%;
}

.navbar.navbar-expand {
	width: 100%;
	height: 60px;
	padding-left: 30px;
	padding-right: 30px;
}

.search-bar-box {
	width: 75%;
	padding-left: 30px;
}

.flex-grow-1 {
	flex-grow: 1 !important;
}

.ml-auto {
	margin-left: auto;
}

.search-bar-box {
	width: 75%;
	padding-left: 30px;
}

.marginTop {
	padding-top: 100px;
}

.usButton {
	background-color: #f16b64;
	border: 1px solid #f16b64;
	/* min-width: 120px; */
	white-space: nowrap;
}

.usButton:hover {
	background-color: #fff;
	color: #f16b64;
	border: 1px solid #f16b64;
}

.formData {
	background-color: #fff;
	padding: 16px;
	border-radius: 10px;
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.formData label {
	font-size: 14px;
	color: #4c5258;
}

.formData input {
	border: 1px solid #ced4da;
	height: 40px;
	font-size: 14px;
}

.formData input:focus {
	box-shadow: none;
	border: 1px solid #f16b64;
}

.modalTitle {
	text-align: left;
	font-size: 18px;
	font-weight: 600;
}

.modalHeading {
	color: #f16b64;
	font-size: 20px;
	font-weight: bold;
}










#scrollTopButton {
	display: inline-block;
	/* background-color: #2a276d; */
	background-color: #F16B64;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s,
		opacity .5s, visibility .5s;
	/* opacity: 0;
	visibility: hidden; */
	z-index: 1000;
	border-color: #F16B64;
}

/* #scrollTopButton::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  } */

#scrollTopButton:hover {
	cursor: pointer;
	/* background-color: #333; */
	background-color: #2a276d;
}

#scrollTopButton:active {
	background-color: #555;
	/* background-color: rgb(241, 227, 227); */
}


.datePickImg {
	width: 20px;
	height: 100%;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
}


.ml-1 {
	margin-left: 1rem;
}


.datePickInput {
	border: 1px solid #ced4da;
	height: 40px;
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	border-radius: 0.25rem;
	position: relative;
}


.modal-footer {
	justify-content: center;
	padding: 0 0 16px 0;
	border-top: none;
}

.modal-header {
	border-bottom: none;
	padding: 1rem 1rem 0 1rem;
}


.dateModalInside select:last-child {
	margin-right: 0px;
}

.dateModalInside select {
	width: 33.33%;
	margin-right: 2px;
	font-size: 12px;
}

.dateModalInside select:focus {
	box-shadow: none;
}




.timeModalMain .modal-dialog {
	max-width: 230px;
}

::-webkit-scrollbar {
	display: none;
}


.modal-footer>* {
	margin: 0 0.25rem;
}

.modal-content {
	padding: 16px;
}

.iconinputfield {
	position: relative;
}

.inputIcon {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 40px;
	background-color: transparent;
	line-height: 40px;
	text-align: center;
	color: #828282;
}

.iconinputfield input {
	padding: 0.375rem 0 0.375rem 1.6rem;
}


.error {
	color: #FF0101 !important;
	font-size: 0.75rem;
}


.center {
	top: 50%;
	left: 50%;
}